<div class="row mb-3" id="dashboardCounts">
    <div class="col-md-4">
        <div class="card bg-primary text-white p-3">
            <h4>Total Students: @ViewBag.TotalStudents</h4>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-success text-white p-3">
            <h4>Active Students: @ViewBag.ActiveStudents</h4>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-danger text-white p-3">
            <h4>Inactive Students: @ViewBag.InactiveStudents</h4>
        </div>
    </div>
</div>
