<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcStudentCrud</title>

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />

    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />

    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">MvcStudentCrud</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Student" asp-action="Dashboard">Student Dashboard</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container pb-5">
        @RenderBody()
    </div>

    <footer class="border-top text-muted mt-5 p-3">
        <div class="container">
            &copy; 2025 - MvcStudentCrud
        </div>
    </footer>

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- DataTable -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
